header {
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bolder; 
    color:white;
    font-size:2rem;
}
body {
    background-color: rgb(2, 71, 24);
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bolder; 
    color:white; 
    font-size:2rem; 
}

.container {
    display: flex;
}

#gameImage{
    position:absolute;
    top: 5%; 
    right: 5%;
    max-width: 40vw;
    max-height: 40vh; 
}

#gameContainer {
    width: 100vw; 
    min-height: 70vh;
    position:absolute;  
    display: flex; 
    flex-direction: column;
    background-color: rgb(1, 1, 100) ;
    border: 2% solid white; 
}

.gameButtons {
    position:absolute; 
    bottom: 5%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; 
    flex-wrap: wrap;
    flex-grow: calc(1);
    width: 100%; 
    background-color: #090129;
    }

.gameButtons .gameButton {
 font-size:2rem; 
}

#gameText {
    position:absolute;
    max-width: 40%;
    max-height:40%; 
    left: 1%; 
    top: 35%; 
    font-size:2rem; 
}

@media only screen and (min-width: 600px) {

    #gameContainer {
        width: 75vw;
        height: 75vh; 
        border: 2% solid white;
        display: flex; 
        flex-direction: row;
    }

    #gameContainer.stat {
        display: flex; 
        flex-direction: column;
    }

}